<h1>Article listing page</h1>

<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td colspan='3'>Actions</td>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to "Show", article_path(article) %></td>
      <td><%= link_to "Edit", edit_article_path(article) %></td>
      <td><%= link_to "Delete", article_path(article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "Create new article", new_article_path %></p>
